MODEL:
  BERT_CKPT: "bert-base-chinese"
  DEVICE: "cuda"
  NAME: "SoftMaskedBertModel"
  GPU_IDS: [1]
  # [loss_coefficient]
  HYPER_PARAMS: [0.8]

DATASETS:
  TRAIN: "datasets/csc/train.json"
  VALID: "datasets/csc/dev.json"
  TEST: "datasets/csc/test.json"

SOLVER:
  BASE_LR: 0.0001
  WEIGHT_DECAY: 5e-8
  BATCH_SIZE: 32
  MAX_EPOCHS: 10
  ACCUMULATE_GRAD_BATCHES: 4


TEST:
  BATCH_SIZE: 16

TASK:
  NAME: "csc"

OUTPUT_DIR: "checkpoints/SoftMaskedBert"
